header {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        background-color: black;
}

#logo {
      color: white;
      font-family: Arial;
      font-size: 30px;
}

#sign-up {
          border: 2px solid white;
          background-color: #9ACD32;
          border-radius: 4px;
          position: absolute;
          right: 20px;
          top: 8px;
          font-family: Arial;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: white;
          text-decoration: none;
}

#sign-in {
          border: 2px solid white;
          background-color: #9ACD32;
          border-radius: 4px;
          position: absolute;
          right: 130px;
          top: 8px;
          font-family: Arial;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 8px;
          padding-bottom: 8px;
          color: white;
          text-decoration: none;
}

body {
      font-family: Arial
}
