<h2>Please enter a new password</h2>

<form action="/users/reset_password" method="post">
  New Password: <input type="text" name="new_password">
  Confirm Password: <input type="text" name="confirm_password">
  <input type="hidden" name="password_token" value=<%= @token %>>
  <input type="submit" value="Reset Password">
</form>