<!DOCTYPE html>
<html>
  <head>
    <title>Bookmark Manager</title>
    <link rel="stylesheet" type="text/css" href="reset.css"/>
    <link rel="stylesheet" type="text/css" href="bookmark_manager.css"/>
  </head>
  <body>
    <%= erb :_welcomepartial %>
    <%= erb :_flashpartial %>
    <%= yield %>
  </body>
</html>
